In [14]:
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns

In [15]:
df = pd.read_csv("D:\Projects\Ml project\Fraud Prediction\data\Raw\diabetes_prediction_dataset.csv")
df.head()

<>:1: SyntaxWarning: invalid escape sequence '\P'
<>:1: SyntaxWarning: invalid escape sequence '\P'
C:\Users\behli\AppData\Local\Temp\ipykernel_20216\1749952176.py:1: SyntaxWarning: invalid escape sequence '\P'
  df = pd.read_csv("D:\Projects\Ml project\Fraud Prediction\data\Raw\diabetes_prediction_dataset.csv")

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,Female,80.0,0,1,never,25.19,6.6,140,0
1,Female,54.0,0,0,No Info,27.32,6.6,80,0
2,Male,28.0,0,0,never,27.32,5.7,158,0
3,Female,36.0,0,0,current,23.45,5.0,155,0
4,Male,76.0,1,1,current,20.14,4.8,155,0

# Handling Outliers

In [16]:
Q1 = df['bmi'].quantile(0.25)
Q3 = df['bmi'].quantile(0.75)
IQR = Q3 - Q1

lower = Q1 - 1.5 * IQR
upper = Q3 + 1.5 * IQR

outliers = df[(df['bmi'] < lower) | (df['bmi'] > upper)]
print(outliers)

       gender   age  hypertension  heart_disease smoking_history    bmi  \
11     Female  54.0             0              0          former  54.70
24     Female   4.0             0              0         No Info  13.99
39     Female  34.0             0              0           never  56.43
59     Female  67.0             0              0           never  63.48
93       Male  38.0             0              0           never  55.61
...       ...   ...           ...            ...             ...    ...
99933  Female   5.0             0              0         No Info  13.34
99948  Female  56.0             1              0          former  39.62
99953  Female  59.0             1              0            ever  60.52
99960  Female  47.0             0              0          former  45.15
99993  Female  40.0             0              0           never  40.69

       HbA1c_level  blood_glucose_level  diabetes
11             6.0                  100         0
24             4.0                  140         0
39             6.2                  200         0
59             8.8                  155         1
93             6.5                  130         0
...            ...                  ...       ...
99933          6.5                  155         0
99948          4.5                  126         0
99953          3.5                  158         0
99960          4.0                  126         0
99993          3.5                  155         0

[7086 rows x 9 columns]

In [17]:
df['bmi'] = df['bmi'].clip(upper, lower)

In [18]:
Q1 = df['blood_glucose_level'].quantile(0.25)
Q3 = df['blood_glucose_level'].quantile(0.75)
IQR = Q3 - Q1

lower = Q1 - 1.5 * IQR
upper = Q3 + 1.5 * IQR

outliers = df[(df['blood_glucose_level'] < lower) | (df['blood_glucose_level'] > upper)]
print(outliers)

       gender   age  hypertension  heart_disease smoking_history    bmi  \
38       Male  50.0             1              0         current  27.32
94     Female  60.0             0              0           never  27.32
104    Female  80.0             1              0           never  27.32
125    Female  77.0             0              0           never  31.70
142    Female  80.0             0              0          former  21.97
...       ...   ...           ...            ...             ...    ...
99763  Female  50.0             0              0           never  35.91
99826    Male  63.0             0              1         No Info  27.32
99867    Male  64.0             1              0          former  33.12
99938    Male  55.0             0              1          former  30.42
99957  Female  61.0             0              0         No Info  34.45

       HbA1c_level  blood_glucose_level  diabetes
38             5.7                  260         1
94             7.5                  300         1
104            6.8                  280         1
125            6.5                  280         1
142            7.0                  300         1
...            ...                  ...       ...
99763          6.0                  280         1
99826          6.6                  300         1
99867          5.7                  300         1
99938          6.2                  300         1
99957          6.5                  280         1

[2038 rows x 9 columns]

In [19]:
df['blood_glucose_level'] = df['blood_glucose_level'].clip(upper, lower)

In [20]:
df.head()

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,Female,80.0,0,1,never,25.19,6.6,140.0,0
1,Female,54.0,0,0,No Info,27.32,6.6,80.0,0
2,Male,28.0,0,0,never,27.32,5.7,158.0,0
3,Female,36.0,0,0,current,23.45,5.0,155.0,0
4,Male,76.0,1,1,current,20.14,4.8,155.0,0

In [21]:
df['gender'].unique()

<StringArray>
['Female', 'Male', 'Other']
Length: 3, dtype: str

In [22]:
df['smoking_history'].unique()

<StringArray>
['never', 'No Info', 'current', 'former', 'ever', 'not current']
Length: 6, dtype: str

# Encoding Catogorical Features

In [23]:
from sklearn.preprocessing import OneHotEncoder

encoder = OneHotEncoder(handle_unknown = 'ignore')
encoded = encoder.fit_transform(df[['gender','smoking_history']]).toarray()

encoded_df = pd.DataFrame(
    encoded, columns=encoder.get_feature_names_out(['gender', 'smoking_history'])
)

df_encoded = pd.concat([df.drop(['gender', 'smoking_history'], axis=1), encoded_df], axis=1)

In [24]:
df_encoded

,age,hypertension,heart_disease,bmi,HbA1c_level,blood_glucose_level,diabetes,gender_Female,gender_Male,gender_Other,smoking_history_No Info,smoking_history_current,smoking_history_ever,smoking_history_former,smoking_history_never,smoking_history_not current
0,80.0,0,1,25.19,6.6,140.0,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,54.0,0,0,27.32,6.6,80.0,0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,28.0,0,0,27.32,5.7,158.0,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,36.0,0,0,23.45,5.0,155.0,0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,76.0,1,1,20.14,4.8,155.0,0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,80.0,0,0,27.32,6.2,90.0,0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
99996,2.0,0,0,17.37,6.5,100.0,0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
99997,66.0,0,0,27.83,5.7,155.0,0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
99998,24.0,0,0,35.42,4.0,100.0,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
99999,57.0,0,0,22.43,6.6,90.0,0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [25]:
df_encoded.to_csv("D:\Projects\Ml project\Fraud Prediction\data\processed\cleaned_data.csv",index=False)

<>:1: SyntaxWarning: invalid escape sequence '\P'
<>:1: SyntaxWarning: invalid escape sequence '\P'
C:\Users\behli\AppData\Local\Temp\ipykernel_20216\202718504.py:1: SyntaxWarning: invalid escape sequence '\P'
  df_encoded.to_csv("D:\Projects\Ml project\Fraud Prediction\data\processed\cleaned_data.csv",index=False)